* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  width: 100%;
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .hero-text {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }

    .text {
      display: flex;
      justify-content: space-between;
      font-family: monospace;
      text-transform: uppercase;
      padding-top: 1em;

      p {
        font-size: 1.1em;
        opacity: 90%;
        letter-spacing: 0.5px;
      }
    }
  }

  .image-text {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: 1.7em;

    .top {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

      h1 {
        font-size: 2.7em;
        font-family: "gilroy";
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1em;
      }

      p{
        font-size: 1.5em;
        font-family: monospace;
        opacity: 80%;
        line-height: 1.3em;
      }

      .services{
        display: flex;
        flex-direction: column;
        gap: 0.9em;
        width: 100%;    

        .service{
            width: 100%;
            display: flex;
            justify-content: space-between;

            p{
                font-size: 1.9em;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }

        .line{
            width: 100%;
            height: 1px;
            background-color: rgba(17,17,17,.15);
        }
      }
      
    }
  }
}
